body {
    color: wheat;
    background: rgb(167, 85, 123);
    margin: 0px;
    font-family: "Cormorant SC", serif;
    margin-bottom: 70px;
}

header {
    border-bottom: solid 2px wheat;
    padding: 20px;
    font-size: 32px;
    color: wheat;
}

.chamada {
    background: rgb(117, 50, 80);
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 300px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid wheat;
}

.categoria h2 {
    color: wheat;
}